<nav>
  <a class='menu-link' href='/home'>Home</a>
  <a class='menu-link' href='/about'>About</a>
  <a class='menu-link' href='/works'>Works</a>
  <a class='menu-link' href='/gallery'>Gallery</a>
</nav>