<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

<body>
    <nav>
      <a class="menu-link" href="/home">Home</a>
      <a class="menu-link" href="/about">About</a>
      <a class="menu-link" href="/works">Works</a>
      <a class="menu-link" href="/gallery">Gallery</a>
    </nav>

    <!-- <h1>Denis Villeneuve</h1> -->

    <h2>About</h2>

    <div>
        Denis Villeneuve OC CQ (born October 3, 1967) is a French Canadian filmmaker. He is a four-time recipient of the Canadian Screen Award
        (formerly Genie Award) for Best Direction, winning for Maelström in 2001, Polytechnique in 2009, Incendies in 2010 and Enemy in 2013. The 
        first three of these films also won the Canadian Screen Award for Best Motion Picture, while the latter was awarded the prize for best 
        Canadian film of the year by the Toronto Film Critics Association. Internationally, he is known for directing several critically acclaimed
        films, including the thrillers Prisoners (2013) and Sicario (2015), as well as the science fiction films Arrival (2016) and Blade Runner 2049 
        (2017). For his work on Arrival, he received an Academy Award nomination for Best Director. He was awarded the prize of Director of the Decade 
        by the Hollywood Critics Association in December 2019. His latest film, Dune (2021), based on Frank Herbert's novel of the same name, premiered 
        at the 78th Venice International Film Festival; the film received critical acclaim, was a commercial success at the box office internationally, 
        is currently his highest grossing film to date, and earned him Academy Award nominations for Best Adapted Screenplay and Best Picture.
    </div>

    <h2>Career</h2>

    <div>
        Villeneuve began his career making short films and won Radio-Canada's youth film competition, La Course Europe-Asie, in 1991.
        August 32nd on Earth (1998), Villeneuve's feature film directorial debut, premiered in the Un Certain Regard section at the 1998 Cannes 
        Film Festival. Alexis Martin won the Prix Jutra for Best Actor. The film was selected as the Canadian entry for the Best Foreign Language 
        Film at the 71st Academy Awards, but was not nominated.
        His second film, Maelström (2000), attracted further attention and screened at festivals worldwide, ultimately winning eight Jutra Awards 
        and the award for Best Canadian Film from the Toronto International Film Festival. He followed that up with the controversial, but critically 
        acclaimed black and white film Polytechnique (2009) about the shootings that occurred at the University of Montreal in 1989. The film premiered 
        at the Cannes Film Festival and received numerous honours, including nine Genie Awards, becoming Villeneuve's first film to win the Genie (now 
        known as a Canadian Screen Award) for Best Motion Picture. 
        Villeneuve's fourth film Incendies (2010) garnered critical acclaim when it premiered at the Venice and Toronto International Film Festivals in 
        2010. Incendies was subsequently chosen to represent Canada at the 83rd Academy Awards in the category of Best Foreign Language Film and was 
        eventually nominated for the award, though it did not win. The film went on to win eight awards at the 31st Genie Awards, including Best 
        Motion Picture, Best Direction, Best Actress (Lubna Azabal), Best Adapted Screenplay, Cinematography, Editing, Overall Sound, and Sound Editing. 
        Incendies was chosen by The New York Times as one of the top 10 best films of that year.
        In January 2011, he was selected by Variety as one of the top ten filmmakers to watch. Also in 2011, Villeneuve won the National Arts Centre 
        Award.
        Villeneuve followed Incendies with the crime thriller film Prisoners, starring Hugh Jackman and Jake Gyllenhaal. The film screened at 
        festivals across the globe, won several awards, and was nominated for the Academy Award for Best Cinematography in 2014.
        Following Incendies and Prisoners, Villeneuve won Best Director for his sixth film, the psychological thriller Enemy (2014), at the 2nd 
        Canadian Screen Awards. The film was awarded the $100,000 cash prize for best Canadian film of the year by the Toronto Film Critics 
        Association in 2015.
        Later that year, Villeneuve directed the crime thriller film Sicario, scripted by Taylor Sheridan, and starring Emily Blunt, Benicio 
        del Toro, Daniel Kaluuya, and Josh Brolin. The film competed for the Palme d'Or at the 2015 Cannes Film Festival, though it did not win. 
        It screened at the Toronto International Film Festival in 2015 and went on to gross nearly $80 million worldwide.
        Villeneuve subsequently directed his eighth film, Arrival (2016), based on the short story Story of Your Life by author Ted Chiang, 
        from an adapted script by Eric Heisserer, with Amy Adams and Jeremy Renner starring. Principal photography began on June 7, 2015, in 
        Montreal, and the film was released in 2016. Arrival grossed $203 million worldwide and received critical acclaim, specifically for 
        Adams's performance, Villeneuve's direction, and the film's exploration of communicating with extraterrestrial intelligence. Arrival 
        appeared on numerous critics' best films of the year lists, and was selected by the American Film Institute as one of ten films of the 
        year. It received eight nominations at the 89th Academy Awards, including Best Picture, Best Director, and Best Adapted Screenplay, 
        ultimately winning one award for Best Sound Editing. It was also awarded the Ray Bradbury Award for Outstanding Dramatic Presentation 
        and the Hugo Award for Best Dramatic Presentation in 2017.
        In February 2015, it was announced that Villeneuve would direct Blade Runner 2049, the sequel to Ridley Scott's Blade Runner (1982). 
        Scott served as the film's executive producer on behalf of Warner Bros. It was released on October 6, 2017, to critical acclaim and 
        middling box office returns. David Ehrlich of IndieWire wrote, "Few filmmakers of the 21st century have risen to prominence and prestige
        with the forcefulness of Blade Runner 2049 director Denis Villeneuve, whose seemingly unstoppable career has been bolstered by a steady 
        balance of critical respect and commercial success. In fact, Christopher Nolan is the only other person who comes to mind, and the 
        similarities between the two of them are hard to ignore."
        In December 2016, it was announced Villeneuve would direct Dune, a new adaptation of the 1965 novel for Legendary Pictures with Villeneuve, 
        Eric Roth, and Jon Spaihts writing the screenplay. Timothée Chalamet, Rebecca Ferguson, Oscar Isaac, Stellan Skarsgård, Jason Momoa and 
        Zendaya starred in the film. The film was released on October 22, 2021, by Warner Bros. Pictures to critical acclaim and has become his 
        highest-grossing film to date. A sequel, Dune: Part Two, was greenlit and scheduled for release on October 20, 2023. Additionally, 
        Villeneuve will serve as an executive producer and direct the first episode of Dune: The Sisterhood, a spin-off television series focusing 
        on the female characters in the novel, for HBO Max.
        Villeneuve is set to direct the adaptation of Jo Nesbø's crime novel The Son, which will star Jake Gyllenhaal and will be an HBO limited 
        series. He is also attached to direct a historical drama about Cleopatra for Sony Pictures and an adaptation of Arthur C. Clarke's science 
        fiction novel Rendezvous with Rama for Alcon Entertainment.
    </div>

    <div>
        For more information visit this link. <!-- link Wikipedia page -->
    </div>

    <h2>

    <details>
        <summary>Reading the fine print</summary>
        <p>This is where we hide all of the secret terms and conditions. I have nothing to hide.</p>
    </details>

    <p><small>&copy; 2022 by me. All rights reserved, baby.</small></p>

</body>

</html>

</html>