<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <a class="menu-link" href="/home">Home</a>
      <a class="menu-link" href="/about">About</a>
      <a class="menu-link" href="/works">Works</a>
      <a class="menu-link" href="/gallery">Gallery</a>
    </nav>

    <h2>Photo Gallery</h2>

    <div>
      <img src="/images/1.jpeg" alt="img1" width="200" height="200" />
      <img src="/images/2.jpeg" alt="img2" width="200" height="200" />
      <img src="/images/3.jpeg" alt="img3" width="200" height="200" />
      <img src="/images/4.jpeg" alt="img4" width="200" height="200" />
      <img src="/images/5.jpeg" alt="img5" width="200" height="200" />
      <img src="/images/6.jpeg" alt="img6" width="200" height="200" />
      <img src="/images/7.jpeg" alt="img7" width="200" height="200" />
      <img src="/images/8.jpeg" alt="img8" width="200" height="200" />
      <img src="/images/9.jpeg" alt="img9" width="200" height="200" />
      <img src="/images/10.jpeg" alt="img10" width="200" height="200" />
    </div>

    <details>
      <summary>Reading the fine print</summary>
      <p>
        This is where we hide all of the secret terms and conditions. I have
        nothing to hide.
      </p>
    </details>

    <p><small>&copy; 2022 by me. All rights reserved, baby.</small></p>
  </body>
</html>
