<h2>{{message}}</h2>

<div>
  <img src='/images/1.jpeg' alt='img1' width='200' height='200' />
  <img src='/images/2.jpeg' alt='img2' width='200' height='200' />
  <img src='/images/3.jpeg' alt='img3' width='200' height='200' />
  <img src='/images/4.jpeg' alt='img4' width='200' height='200' />
  <img src='/images/5.jpeg' alt='img5' width='200' height='200' />
  <img src='/images/6.jpeg' alt='img6' width='200' height='200' />
  <img src='/images/7.jpeg' alt='img7' width='200' height='200' />
  <img src='/images/8.jpeg' alt='img8' width='200' height='200' />
  <img src='/images/9.jpeg' alt='img9' width='200' height='200' />
  <img src='/images/10.jpeg' alt='img10' width='200' height='200' />
</div>