<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <a class="menu-link" href="/home">Home</a>
      <a class="menu-link" href="/about">About</a>
      <a class="menu-link" href="/works">Works</a>
      <a class="menu-link" href="/gallery">Gallery</a>
    </nav>

    <h2>Ironhack Lab Express Basic Website</h2>

    <h2>Introduction</h2>

    <div>
      Pick a person that you admire and build a website that shares some basic
      information about them. They can be a writer, a musician, a celebrity, or
      someone you know personally. You should use `express` to create your app,
      build the routing logic with the built-in app routing methods, and serve
      static content for every request.
    </div>

    <h2>Requirements</h2>

    <div>
      <ul>
        <li>Fork this repo</li>
        <li>Clone this repo</li>
      </ul>
    </div>

    <h2>Submission</h2>

    <div>
      Upon completion, run the following commands:
      <ul>
        <li>```bash</li>
        <li>git add .</li>
        <li>git commit -m "Solved Lab"</li>
        <li>git push origin master</li>
        <li>```</li>
      </ul>
      Create Pull Request so your TAs can check up your work.
    </div>

    <h2>Instructions</h2>

    <div>
      **Your Website should have (at least) 3 pages:

      <ol>
        <li>
          A **Home** page, that welcomes the visitor and links to the other
          pages on the website.
        </li>
        <li>
          An **About** page, that shares some basic information about the
          person.
        </li>
        <li>
          A **Works** page, where you showcase some of the work of the person
          you chose.
        </li>
        <li>
          Bonus: A **Photo Gallery** page, displaying some pictures of the
          person/their work.
        </li>
      </ol>

      You should go through the following steps:

      <ol>
        <li>Run `npm init -y` to create a package.json file.</li>
        <li>Run `npm install express` to install the Express package.</li>
        <li>Create a `views/` directory that will hold your `.html` files.</li>
        <li>
          Create a `public/` directory that will hold other static files, such
          as your CSS stylesheets, scripts and images.
        </li>
        <li>Build your Express app in `app.js`.</li>
        <li>Polish your HTML, stylesheets and scripts. Happy coding! 💙</li>
      </ol>
    </div>

    <details>
      <summary>Reading the fine print</summary>
      <p>
        This is where we hide all of the secret terms and conditions. I have
        nothing to hide.
      </p>
    </details>

    <p><small>&copy; 2022 by me. All rights reserved, baby.</small></p>
  </body>
</html>
