<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <a class="menu-link" href="/home">Home</a>
      <a class="menu-link" href="/about">About</a>
      <a class="menu-link" href="/works">Works</a>
      <a class="menu-link" href="/gallery">Gallery</a>
    </nav>

    <h2>Movies</h2>

    <div>
      <table>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Director</th>
          <th>Writer</th>
          <th>Producer</th>
        </tr>
        <tr>
          <td>1998</td>
          <td>August 32nd on Earth</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2000</td>
          <td>Maelström</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2009</td>
          <td>Polytechnique</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>Incendies</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Prisoners</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>Enemy</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>Sicario</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Arrival</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>Blade Runner 2049</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>Arrival</td>
          <td>Yes</td>
          <td>No</td>
          <td>No</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>Dune</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>Dune: Part Two</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
      </table>
    </div>

    <details>
      <summary>Reading the fine print</summary>
      <p>
        This is where we hide all of the secret terms and conditions. I have
        nothing to hide.
      </p>
    </details>

    <p><small>&copy; 2022 by me. All rights reserved, baby.</small></p>
  </body>
</html>
